<a href="https://colab.research.google.com/github/ritika1507/Notebooks-/blob/main/Assessment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSESSMENT- Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [106]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [107]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [129]:
users = pd.read_csv(url , sep = "|" , index_col = 'user_id')

In [130]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 4. See the first 25 entries

In [111]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [112]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [113]:
print('Number of observations in the dataset :' , users.shape[0])

Number of observations in the dataset : 943

### Step 7. What is the number of columns in the dataset?

In [114]:
print('Number of columns in the dataset :' , users.shape[1])

Number of columns in the dataset : 4

In [115]:
#another way

print('Number of columns in the dataset :' , len(users.columns))

Number of columns in the dataset : 4

### Step 8. Print the name of all the columns.

In [116]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [117]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [118]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [ ]:
print(users['occupation'].to_string(index = False))

### Step 12. How many different occupations are in this dataset?

In [120]:
#list of unique occupations
diff_occ = users['occupation'].unique()

diff_occ

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

In [121]:
#no of unique occuptions
no_diff_occ = len(diff_occ)
no_diff_occ

21

### Step 13. What is the most frequent occupation?

In [122]:
print('Most frequent occupation is :' , users['occupation'].mode()[0])

Most frequent occupation is : student

### Step 14. Summarize the DataFrame.

In [123]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Step 15. Summarize all the columns

In [124]:
users.describe(include = 'all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 16. Summarize only the occupation column

In [125]:
def summarize(df , col):
  print('Summarizing' , col , ':')
  print(df[col].describe())


summarize(users , 'occupation')

Summarizing occupation :
count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [126]:
print('Mean age of users :' , users['age'].mean() , 'years')

Mean age of users : 34.05196182396607 years

### Step 18. What is the age with least occurrence?

In [127]:
print('Least occuring age is :' , users['age'].value_counts().index[-1])

Least occuring age is : 73

Step 19. Write a lambda function to convert a string column to a numerical column

In [128]:
str_to_num = lambda x : int(x) if type(x) is str else x

sample = "1234"
str_to_num(sample)

1234